body {
  font-family: Arial, sans-serif;
  background-color: rgb(25, 25, 25);
  color: white;
}

p {
  margin-top: 30px;
}

.moves-images {
  width: 50px;
  background-color: rgb(25, 25, 25);
  /* background-color: transparent; */
}

.moves-button {
  background-color: rgb(25, 25, 25);
  color: white;
  border: 3px solid white;
  padding: 30px;
  border-radius: 60px;
  cursor: pointer;
  margin-right: 10px;
}

.result {
  font-size: x-large;
  font-weight: bolder;
}

.moves {
  margin-top: 40px;
  margin-bottom: 50px;
}

.reset-score-button, .auto-play-button {
  background-color: white;
  border: none;
  padding: 10px 20px;
  font-size: medium;
  cursor: pointer;
}